{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- ##### About Area Start ##### -->
    <section class="about-area mt-30 mb-70">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-2">
                            <img src="../../static/img/core-img/about_us.jpg">
                        </div>
                        <div class="col-lg-10">
                            <p style="margin-top: 40px"> Sci-News.com is an independent source for the latest news on science.</p>
                            <p> Updated daily, Sci-News.com is brought to you by an international team of science editors and reporters.</p>
                        </div>
                    </div>
                    <div class="mt-30">
                        <span style="color: dimgrey; font-weight: bold; margin-top: "> Sergio Prostak </span>
                        <p> Co-editor and science writer specialized in astronomy, space exploration, world history, biology, archaeology and paleontology.</p>
                        <span style="color: dimgrey; font-weight: bold"> Natali Anderson </span>
                        <p> Co-editor and science writer specialized in biology, chemistry, biochemistry, genetics and anthropology. </p>
                        <span style="color: dimgrey; font-weight: bold"> Enrico de Lazaro </span>
                        <p> Science writer specialized in archaeology, world history, nanotechnologies, geophysics and mathematics.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Team Area End ##### -->
{% endblock content %}