<footer class="footer-area">

        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-5">
                        <div class="footer-widget-area mb-15" style="margin-top: 24px !important;">
                            <!-- Footer Logo -->
                            <div class="footer-logo">
                                <a href= "{% url 'newspaper:index' %}">
                                    <span style="color: white; font-size: 28px"> SCI-NEWS </span>
                                    <br>
                                    <span style="color: white; font-size: 20px"> source for the latest news on science</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-4 col-lg-3">
                        <div class="footer-widget-area mt-50">
                            <!-- Title -->
                            <a href="{% url 'newspaper:about' %}"> <h4 class="widget-title"> About Us </h4> </a>
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-5 col-lg-2">
                        <div class="footer-widget-area mt-50 mb-30">
                            <!-- Title -->
                             <a href="{% url 'newspaper:contact' %}"> <h4 class="widget-title"> Contact </h4> </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </footer>