<header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Logo -->
                            <div class="logo">
                                <a href={% url 'newspaper:index'%}>
                                    <span style="color: white; font-size: 25px"> SCI-NEWS </span>
                                    <br>
                                    <span style="color: white; font-size: 17px"> source for the latest news on science</span>
                                </a>
                            </div>

                            <!-- Login Search Area -->
                            <div class="login-search-area d-flex align-items-center">
                                <!-- Login -->
                                <div class="login d-flex">
                                    <a href="#">Login</a>
                                    <a href="#">Register</a>
                                </div>
                                <!-- Search Form -->
                                <div class="search-form">
                                    <form action="{% url 'newspaper:search' %}" method="get">
                                        <input type="search" name="search" class="form-control" placeholder="Search">
                                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="newspaper-main-menu" id="stickyMenu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="newspaperNav">

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href={% url 'newspaper:index'%}> Home </a></li>
                                    {% for category in main_categories %}
                                        <li><a href="{% url 'newspaper:categories-post' category.slug %}"> {{ category.name }} </a></li>
                                    {% endfor %}
                                    <li><a href="#"> More </a>
                                        <div class="megamenu">
                                            {% for category in categories %}
                                                <ul class="single-mega cn-col-5">
                                                    <li> <a href="{% url 'newspaper:categories-post' category.slug %}"> {{ category}} </a> </li>
                                                </ul>
                                            {% endfor %}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>