{% if is_paginated %}
    {% if not search_text %}
        <nav aria-label="Page navigation example">
            <ul class="pagination mt-50">
                <li class="page-link">
                    <a href="?page=1" class="single-btn prev-btn color-item"> |< <i class="zmdi zmdi-chevron-left"></i> </a>
                </li>
                {% if page_obj.has_previous %}
                    <li class="page-link"><a href="?page={{ page_obj.previous_page_number }}" class="color-item">&laquo;</a></li>
                {% else %}
                    <li class="disabled page-link color-item"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if forloop.counter|add:5 > page_obj.number and forloop.counter < page_obj.number|add:5 %}
                        {% if page_obj.number == i %}
                            <li class="page-item active"><a class="page-link"> {{ i }}<span class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-link"><a href="?page={{ page_obj.next_page_number }}" class="color-item">&raquo;</a></li>
                {% else %}
                    <li class="disabled page-link"><span>&raquo;</span></li>
                {% endif %}
                <li class="page-link">
                    <a href="?page={{ paginator.num_pages }}" class="single-btn next-btn color-item">
                    <i class="zmdi zmdi-chevron-right"></i> >| </a>
                </li>
            </ul>
        </nav>
    {% else %}
        <nav aria-label="Page navigation example">
            <ul class="pagination mt-50">
                <li class="page-link">
                    <a href="?page=1&search={{ search_text }}" class="single-btn prev-btn color-item"> |< <i class="zmdi zmdi-chevron-left"></i> </a>
                </li>
                {% if page_obj.has_previous %}
                    {% if not search_text %}
                        <li class="page-link"><a href="?page={{ page_obj.previous_page_number }}&search={{ search_text }}" class="color-item">&laquo;</a></li>
                    {% else %}
                        <li class="page-link"><a href="?page={{ page_obj.previous_page_number }}&search={{ search_text }}" class="color-item">&laquo;</a></li>
                    {% endif %}
                {% else %}
                    <li class="disabled page-link"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if forloop.counter|add:5 > page_obj.number and forloop.counter < page_obj.number|add:5 %}
                        {% if page_obj.number == i %}
                            <li class="page-item active"><a class="page-link"> {{ i }}<span class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}&search={{ search_text }}">{{ i }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-link"><a href="?page={{ page_obj.next_page_number }}&search={{ search_text }}" class="color-item">&raquo;</a></li>
                {% else %}
                    <li class="disabled page-link"><span>&raquo;</span></li>
                {% endif %}
                <li class="page-link">
                    <a href="?page={{ paginator.num_pages }}&search={{ search_text }}" class="single-btn next-btn color-item">
                    <i class="zmdi zmdi-chevron-right"></i> >| </a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endif %}
